<img src="/img/burger.png" width= "200px" alt="burger">

<h1>Eat-Da-Burger!</h1>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <ul class="list-group">
        {{#each object}}
        {{#unless devoured}}
        <button class="devour" id={{"id"}} type="button" class="btn btn-secondary" style="float: right;">Devour
          it!</button>
        <li class="list-group-item">{{"id"}}. {{"burger_name"}}</li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm-6">
     
      <ul class="list-group">
        {{#each object}}
        {{#if devoured}}
        <button class="delete" id={{"id"}} type="button" class="btn btn-secondary" style="float: right;">Delete</button>

        <li class="list-group-item">{{"id"}}. {{"burger_name"}}</li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="formTextArea"></label>
      <textarea class="form-control" id="formTextArea" rows="3"></textarea>
    </div>
    <input id="submit" class="btn btn-primary" type="submit" value="Submit">
    <br>
    <br>

    <p>Enter a burger you want to eat; Click the "Submit" button</p>


  </div>
</div>